body {
  background-color: #b0e0e6;
  font-family: Verdana;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  color: rgb(0, 0, 27);
  font: size 50px; 
}

p {
  color: #333;
  font-size: 18px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #3f193f;

}

